Repository Quartech/chat-copilot, pull requests merged in 2024-10, with the labels that each got.

#96 New specialization configs
  webapi/Controllers/SpecializationController.cs
  webapi/Models/Request/QSpecializationBase.cs
  webapi/Models/Response/QSpecializationResponse.cs
  webapi/Models/Storage/Specialization.cs
  webapi/Plugins/Chat/Ext/QAzureOpenAIChatExtension.cs
  webapi/Plugins/Chat/Ext/QAzureOpenAIChatOptions.cs
  webapi/Services/QSpecializationService.cs
  webapp/src/components/admin/specialization/SpecializationManager.tsx
  webapp/src/libs/models/Specialization.ts
  webapp/src/libs/services/SpecializationService.ts
  webapp/src/redux/features/admin/AdminState.ts
Labels: webapp, webapi

#101 Delay chat creation until specialization select
  webapi/Controllers/ChatHistoryController.cs
  webapi/Models/Request/CreateChatParameters.cs
  webapi/Models/Storage/ChatSession.cs
  webapp/package.json
  webapp/src/components/chat/ChatStatus.tsx
  webapp/src/components/chat/chat-list/ChatListItem.tsx
  webapp/src/components/chat/chat-list/ChatListSection.tsx
  webapp/src/components/chat/chat-list/dialogs/DeleteChatDialog.tsx
  webapp/src/components/chat/shared/EditChatName.tsx
  webapp/src/components/specialization/SpecializationCard.tsx
  webapp/src/components/views/ChatView.tsx
  webapp/src/libs/hooks/useChat.ts
  webapp/src/libs/services/ChatService.ts
  webapp/src/libs/utils/HelperMethods.ts
  webapp/src/redux/features/conversations/ChatState.ts
  webapp/src/redux/features/conversations/conversationsSlice.ts
  webapp/yarn.lock
Labels: webapp, dependencies, webapi

#106 Azure Vision as custom OCR engine
  helm/config/dev/appsettings.json
  helm/values.yaml
  shared/CopilotChatShared.csproj
  shared/Ocr/AzureVision/AzureVisionOcrEngine.cs
  shared/Ocr/AzureVision/AzureVisionOptions.cs
  shared/Ocr/ConfigurationExtensions.cs
Labels: helm

#110 tweaks to fix deployment issues
  helm/values-dev.yaml
  helm/values.yaml
Labels: helm

#109 chat menu
  shared/Ocr/AzureVision/AzureVisionOcrEngine.cs
  shared/Ocr/AzureVision/AzureVisionOptions.cs
  webapi/Controllers/ChatController.cs
  webapi/Plugins/Chat/ChatPlugin.cs
  webapp/src/components/chat/ChatWindow.tsx
  webapp/src/components/chat/controls/ChatMenu.tsx
  webapp/src/components/chat/controls/DeleteChatHistory.tsx
  webapp/src/components/specialization/SpecializationCard.tsx
  webapp/src/libs/hooks/useChat.ts
Labels: webapp, dependencies, webapi, helm

#112 Default Quartech Images for specializations not found
  webapi/CopilotChatWebApi.csproj
  webapi/Utilities/ResourceUtils.cs
Labels: webapi

#97 Admin modify initial chat message
  webapi/Controllers/ChatHistoryController.cs
  webapi/Models/Request/QSpecializationBase.cs
  webapi/Models/Response/QSpecializationResponse.cs
  webapi/Models/Storage/Specialization.cs
  webapi/Services/QSpecializationService.cs
  webapp/src/components/admin/specialization/SpecializationManager.tsx
  webapp/src/libs/hooks/useChat.ts
  webapp/src/libs/models/Specialization.ts
  webapp/src/libs/services/SpecializationService.ts
  webapp/src/redux/features/admin/AdminState.ts
Labels: webapp, webapi

#105 Global Alert with Toasts
  webapp/src/components/admin/specialization/SpecializationManager.tsx
  webapp/src/components/chat/Chat.tsx
  webapp/src/components/chat/ChatInput.tsx
  webapp/src/components/chat/ChatWindow.tsx
  webapp/src/components/shared/Alerts.tsx
  webapp/src/redux/app/rootReducer.ts
  webapp/src/redux/app/store.ts
  webapp/src/redux/features/app/appSlice.ts
Labels: webapp

#115 Default static Quartech images not found in deployed environments
  webapi/CopilotChatWebApi.csproj
  webapi/Services/QSpecializationService.cs
Labels: webapi, docker

#116 Update env config for default specialization images
  helm/config/dev/appsettings.Development.json
  helm/config/prod/appsettings.Production.json
  helm/config/test/appsettings.Test.json
  webapi/CopilotChatWebApi.csproj
Labels: webapi, helm

#120 Deleting specialization requires a manual refresh for it to disappear
  webapi/Services/QSpecializationService.cs
Labels: webapi

#113 Bug fix required fields on specialization manager
  webapi/Controllers/ChatHistoryController.cs
  webapp/src/components/admin/specialization/SpecializationManager.tsx
Labels: webapp, webapi

#117 Decouple message load from chat list load
  webapp/src/components/chat/chat-list/ChatListItem.tsx
  webapp/src/components/chat/suggestions/ChatSuggestionList.tsx
  webapp/src/libs/hooks/useAppLoader.ts
  webapp/src/libs/hooks/useChat.ts
Labels: webapp

#118 Update input buttons inline and size
  webapp/src/components/chat/ChatInput.tsx
  webapp/src/components/search/SearchInput.tsx
Labels: webapp

#121 Sam/undo doc changes
  webapi/Plugins/Chat/ChatPlugin.cs
Labels: webapi

#119 Global Spinner
  webapp/src/components/admin/specialization/SpecializationManager.tsx
  webapp/src/components/chat/Chat.tsx
  webapp/src/components/shared/LoadingSpinner.tsx
  webapp/src/libs/hooks/useSpecialization.ts
  webapp/src/redux/features/app/AppState.ts
  webapp/src/redux/features/app/appSlice.ts
Labels: webapp

#123 Issues with misused HTML "for" label attribute
  webapp/src/components/admin/specialization/SpecializationManager.tsx
Labels: webapp

#126 Remove duplicate document button
  webapp/src/components/chat/ChatInput.tsx
Labels: webapp

#125 Chats GET endpoint include title
  webapi/Controllers/ChatHistoryController.cs
Labels: webapi

#127 Minor typo in regex
  webapi/Controllers/ChatHistoryController.cs
Labels: webapi

#124 feat: create RequestUtils.GetSanitizedParameters
  webapi/Controllers/ChatMemoryController.cs
  webapi/Utilities/RequestUtils.cs
  webapi/Utilities/RequestUtils.test.cs
Labels: webapi

#111 Fix code scanning alert no. 1: Log entries created from user input
  .vscode/settings.json
  webapi/Controllers/ChatHistoryController.cs
Labels: webapi

#122 Grey out Admin tab instead of hiding it when a user does not have access
  webapp/src/components/chat/chat-list/ChatType.tsx
Labels: webapp

#131 Show tag for environment in frontend header
  webapp/src/components/header/Header.tsx
Labels: webapp

#130 Add cursor: pointer to avatar menu
  webapp/src/components/header/UserSettingsMenu.tsx
Labels: webapp

#108 Sam/refactor backend
  helm/config/prod/appsettings.Production.json
  helm/config/test/appsettings.Test.json
  shared/DefaultConfiguration.cs
  shared/KernelMemoryBuilderExtensions.cs
  shared/ServiceConfiguration.cs
  webapi/Extensions/ISemanticMemoryClientExtensions.cs
  webapi/Extensions/SemanticKernelExtensions.cs
  webapi/Plugins/Chat/Ext/QAzureOpenAIChatExtension.cs
  webapi/Plugins/Chat/Ext/QAzureOpenAIChatOptions.cs
  webapi/Program.cs
Labels: webapi, helm

#128 Expand matches in search list
  webapp/src/components/search/SearchInput.tsx
  webapp/src/components/search/SearchListSection.tsx
  webapp/src/components/search/SearchRoom.tsx
  webapp/src/components/search/search-list/SearchList.tsx
  webapp/src/components/search/search-list/SearchListItem.tsx
  webapp/src/libs/hooks/useSearch.ts
  webapp/src/redux/features/search/SearchState.ts
  webapp/src/redux/features/search/searchSlice.ts
Labels: webapp

#132 Added relevant AzureVision entries to test/prod versions of helm appsettings
  helm/config/prod/appsettings.json
  helm/config/test/appsettings.json
Labels: helm

#129 Reorder Specializations on Admin page
  webapi/Controllers/SpecializationController.cs
  webapi/Models/Request/QSpecializationBase.cs
  webapi/Models/Request/QSpecializationSwapOrder.cs
  webapi/Models/Response/QSpecializationResponse.cs
  webapi/Models/Storage/Specialization.cs
  webapi/Services/QSpecializationService.cs
  webapp/package.json
  webapp/src/components/admin/specialization/SpecializationManager.tsx
  webapp/src/components/admin/specialization/specialization-list/SpecializationList.tsx
  webapp/src/components/admin/specialization/specialization-list/SpecializationListItem.tsx
  webapp/src/components/admin/specialization/specialization-list/SpecializationListSection.tsx
  webapp/src/components/specialization/SpecializationCardList.tsx
  webapp/src/libs/hooks/useSpecialization.ts
  webapp/src/libs/models/Specialization.ts
  webapp/src/libs/services/SpecializationService.ts
  webapp/src/redux/features/admin/AdminState.ts
  webapp/src/redux/features/admin/adminSlice.ts
  webapp/yarn.lock
Labels: webapp, dependencies, webapi

#137 Specialization order bugfix
  webapi/Models/Response/QSpecializationResponse.cs
Labels: webapi

#133 refactor: remove redundant calls to session repository
  webapi/Controllers/ChatHistoryController.cs
Labels: webapi

#135 Unauthorized Page
  webapp/.env
  webapp/env.sh
  webapp/src/components/chat/Chat.tsx
  webapp/src/components/views/Unauth.tsx
  webapp/src/components/views/index.ts
  webapp/src/libs/models/Global.ts
Labels: webapp

#138 build: upgrade to version 12 of C#
  tools/importdocument/ImportDocument.csproj
  webapi/CopilotChatWebApi.csproj
Labels: webapi

#139 refactor: remove redundant message repo calls
  webapi/Controllers/ChatHistoryController.cs
Labels: webapi

#142 Query chat sessions as batch
  webapi/Controllers/ChatHistoryController.cs
  webapi/Storage/ChatSessionRepository.cs
Labels: webapi

#107 Cancel in progress bot response
  .vscode/launch.json
  webapi/Controllers/ChatController.cs
  webapi/Plugins/Chat/ChatPlugin.cs
  webapp/src/components/chat/ChatInput.tsx
  webapp/src/components/chat/ChatStatus.tsx
  webapp/src/libs/hooks/useChat.ts
  webapp/src/libs/services/BaseService.ts
  webapp/src/libs/services/ChatService.ts
  webapp/src/redux/features/conversations/conversationsSlice.ts
  webapp/src/redux/features/message-relay/signalRHubConnection.ts
Labels: webapp, webapi

#114 Specializations for Token Limit and Number of Messages Included
  webapi/Controllers/SpecializationController.cs
  webapi/Models/Request/QSpecializationBase.cs
  webapi/Models/Response/QSpecializationResponse.cs
  webapi/Models/Storage/Specialization.cs
  webapi/Plugins/Chat/ChatPlugin.cs
  webapi/Plugins/Chat/Ext/QAzureOpenAIChatExtension.cs
  webapi/Plugins/Chat/Ext/QAzureOpenAIChatOptions.cs
  webapi/Plugins/Chat/SemanticChatMemoryExtractor.cs
  webapi/Services/QSpecializationService.cs
  webapi/appsettings.json
  webapp/src/components/admin/specialization/SpecializationManager.tsx
  webapp/src/libs/models/Specialization.ts
  webapp/src/libs/services/SpecializationService.ts
  webapp/src/redux/features/admin/AdminState.ts
Labels: webapp, webapi

#144 feat: update chat session title on first message
  webapp/src/components/chat/ChatRoom.tsx
Labels: webapp

#141 Wrong specialization showing when creating new chat
  webapp/src/components/chat/Chat.tsx
  webapp/src/components/chat/ChatRoom.tsx
  webapp/src/components/chat/chat-list/ChatListItem.tsx
Labels: webapp

#146 Lint Warning w/ latest Spec Bug fix
  webapp/src/components/chat/chat-list/ChatListItem.tsx
Labels: webapp

#147 Missing dev helm config strings
  helm/config/dev/appsettings.Development.json
Labels: helm

#148 fix from lint
  webapp/src/components/chat/chat-list/ChatListItem.tsx
Labels: webapp

#136 Add configurations to "General" specialization
  webapi/Controllers/SpecializationController.cs
  webapi/Models/Storage/Specialization.cs
  webapi/Plugins/Chat/ChatPlugin.cs
  webapi/Services/QSpecializationService.cs
  webapp/src/components/admin/specialization/SpecializationManager.tsx
  webapp/src/components/admin/specialization/specialization-list/SpecializationListItem.tsx
  webapp/src/components/admin/specialization/specialization-list/SpecializationListSection.tsx
  webapp/src/libs/models/Specialization.ts
  webapp/src/libs/services/SpecializationService.ts
Labels: webapp, webapi

#151 Reconfig SignalR KeepAlive Ping / Timeout
  webapp/src/redux/features/message-relay/signalRHubConnection.ts
Labels: webapp

#149 [Bug Fix] Fix specialization display bug when loading chat
  webapp/src/components/chat/ChatWindow.tsx
  webapp/src/components/chat/chat-list/ChatListItem.tsx
Labels: webapp

#150 Support Mathjax formula rendering
  webapp/package.json
  webapp/src/App.tsx
  webapp/src/components/chat/chat-history/ChatHistoryTextContent.tsx
  webapp/src/components/utils/TextUtils.tsx
  webapp/tsconfig.json
  webapp/yarn.lock
Labels: webapp, dependencies
