Repository Quartech/chat-copilot, pull requests merged in 2024-11, with the labels that each got.

#154 changes for deployment, citations, removing serialized conext
  webapi/Plugins/Chat/ChatPlugin.cs
  webapi/Services/SemanticKernelProvider.cs
Labels: webapi

#143 Terraform AI services
  azure/App/dev.auto.tfvars
  azure/App/locals.tf
  azure/App/main.tf
  azure/App/modules/azure-ai-search/main.tf
  azure/App/modules/azure-ai-search/outputs.tf
  azure/App/modules/azure-ai-search/providers.tf
  azure/App/modules/azure-ai-search/variables.tf
  azure/App/modules/azure-cognitive/main.tf
  azure/App/modules/azure-cognitive/provider.tf
  azure/App/modules/azure-cognitive/variables.tf
  azure/App/variables.tf
  helm/config/dev/appsettings.json
  helm/config/prod/appsettings.json
  helm/config/test/appsettings.json
  shared/Ocr/AzureVision/AzureVisionOcrEngine.cs
  shared/Ocr/AzureVision/AzureVisionOptions.cs
Labels: azure, helm

#155 Restrict user from sending concurrent messages
  webapp/src/components/chat/ChatInput.tsx
Labels: webapp

#158 ChatAsync Fixes
  webapi/Plugins/Chat/ChatPlugin.cs
Labels: webapi

#159 Fix overflow property on ChatList
  webapp/src/components/chat/chat-list/ChatList.tsx
Labels: webapp

#157 Defer citation formatting to frontend
  webapi/Plugins/Chat/ChatPlugin.cs
  webapp/src/components/chat/chat-history/ChatHistoryTextContent.tsx
  webapp/src/components/utils/TextUtils.tsx
Labels: webapp, webapi

#160 Add enum for bot response status
  webapp/src/components/chat/ChatInput.tsx
  webapp/src/libs/models/BotResponseStatus.ts
Labels: webapp

#156 Delete uploaded document
  webapi/Controllers/DocumentController.cs
  webapp/src/Constants.ts
  webapp/src/components/chat/tabs/DocumentsTab.tsx
  webapp/src/libs/hooks/useFile.ts
  webapp/src/libs/services/DocumentImportService.ts
  webapp/src/redux/features/message-relay/signalRHubConnection.ts
Labels: webapp, webapi

#153 Add modal to display re connection warning
  webapp/src/App.tsx
  webapp/src/components/chat/Chat.tsx
  webapp/src/components/shared/Modal.tsx
  webapp/src/components/shared/ReloadModal.tsx
  webapp/src/redux/features/app/AppState.ts
  webapp/src/redux/features/app/appSlice.ts
  webapp/src/redux/features/message-relay/signalRHubConnection.ts
Labels: webapp

#140 Reorder specialization bugfix
  webapi/Controllers/SpecializationController.cs
  webapi/Models/Request/QSpecializationOrder.cs
  webapi/Models/Request/QSpecializationSwapOrder.cs
  webapi/Services/QSpecializationService.cs
  webapp/src/components/admin/specialization/specialization-list/SpecializationListSection.tsx
  webapp/src/libs/hooks/useSpecialization.ts
  webapp/src/libs/models/Specialization.ts
  webapp/src/libs/services/SpecializationService.ts
  webapp/src/redux/features/admin/adminSlice.ts
Labels: webapp, webapi

#164 No Specializations found message
  webapp/src/components/specialization/SpecializationCardList.tsx
Labels: webapp

#165 Drag and drop files enhancement
  webapp/src/components/chat/ChatInput.tsx
Labels: webapp

#170 updated with new indexes and services
  helm/config/dev/appsettings.Development.json
  helm/config/prod/appsettings.Production.json
  helm/config/test/appsettings.Test.json
Labels: helm

#145 added documention for sharepoint indexer
  README.md
  sharepoint-indexer/README.md
Labels: documentation

#172 Specialization PATCH accept unset fields in request body
  webapi/Models/Request/QSpecializationBase.cs
  webapi/Services/QSpecializationService.cs
Labels: webapi

#173 Caamden/helmnewindex
  helm/values.yaml
Labels: helm

#162 Fix suggestions errors
  webapi/Plugins/Chat/ChatPlugin.cs
Labels: webapi

#174 isToday helper method fix
  webapp/src/components/utils/TextUtils.tsx
Labels: webapp

#171 Windows support for scripts
  README.md
  webapp/env-config.sh
  webapp/env.sh
  webapp/package.json
Labels: documentation, webapp

#169 Sam/doc size limit
  webapi/Models/Request/QSpecializationBase.cs
  webapi/Models/Response/QSpecializationResponse.cs
  webapi/Models/Storage/Specialization.cs
  webapi/Services/QSpecializationService.cs
  webapp/src/components/admin/specialization/SpecializationListItemActions.tsx
  webapp/src/components/admin/specialization/SpecializationManager.tsx
  webapp/src/components/chat/ChatInput.tsx
  webapp/src/components/shared/ConfirmationDialog.tsx
  webapp/src/libs/hooks/useChat.ts
  webapp/src/libs/hooks/useSpecialization.ts
  webapp/src/libs/models/Specialization.ts
  webapp/src/libs/services/SpecializationService.ts
  webapp/src/redux/features/admin/AdminState.ts
Labels: webapp, webapi

#175 Citations for uploaded documents
  webapi/Plugins/Chat/ChatPlugin.cs
  webapi/Utilities/CitationUtils.cs
  webapp/src/components/utils/TextUtils.tsx
Labels: webapp, webapi

#178 Remove unused code from ChatPlugin.cs
  webapi/Plugins/Chat/ChatPlugin.cs
Labels: webapi

#176 Fix for switching to documents tab when on a New Chat
  webapp/src/components/chat/tabs/DocumentsTab.tsx
Labels: webapp

#168 Cosmos db get messages optimization
  webapi/Storage/CosmosDbContext.cs
  webapi/Storage/FileSystemContext.cs
  webapi/Storage/IStorageContext.cs
  webapi/Storage/Repository.cs
  webapi/Storage/VolatileContext.cs
Labels: webapi

#181 Reduce the padding around search list items
  webapp/src/components/search/search-list/SearchListItem.tsx
Labels: webapp

#180 Reorder specializations backend bugfix
  webapi/Controllers/SpecializationController.cs
Labels: webapi

#179 Improve chat list click responsiveness and async message loading
  webapp/src/components/chat/ChatInput.tsx
  webapp/src/components/chat/ChatRoom.tsx
  webapp/src/components/chat/chat-list/ChatListItem.tsx
  webapp/src/libs/hooks/useAppLoader.ts
  webapp/src/libs/hooks/useChat.ts
  webapp/src/redux/features/conversations/ChatState.ts
  webapp/src/redux/features/conversations/ConversationsState.ts
  webapp/src/redux/features/conversations/conversationsSlice.ts
Labels: webapp

#167 Delete document dev environment bugfix
  webapi/Controllers/DocumentController.cs
  webapp/src/components/chat/tabs/DocumentsTab.tsx
  webapp/src/libs/hooks/useFile.ts
  webapp/src/libs/services/DocumentImportService.ts
Labels: webapp, webapi

#184 Deployment Updates for Environments
  azure/.gitignore
  azure/App/README.md
  azure/App/dev.tfvars
  helm/config/dev/appsettings.Development.json
  helm/config/prod/appsettings.Production.json
  helm/config/test/appsettings.Test.json
Labels: documentation, azure, helm

#177 added connection name to deployment
  webapi/Plugins/Chat/ChatPlugin.cs
  webapi/Plugins/Chat/Ext/QAzureOpenAIChatExtension.cs
  webapi/Services/SemanticKernelProvider.cs
  webapp/src/libs/hooks/useSpecialization.ts
Labels: webapp, webapi

#186 fix helm deployment
  helm/values.yaml
Labels: helm

#187 Http Context Accessor
  webapi/Context/ContextValueAccessor.cs
  webapi/Context/ContextValueAccessor.test.cs
  webapi/Context/IContextValueAccessor.cs
Labels: webapi

#189 missed updating Search Deployment config for Agriculture
  helm/config/dev/appsettings.Development.json
Labels: helm

#190 Specialization auth handler
  webapi/Auth/AuthPolicyName.cs
  webapi/Auth/SpecializationAuthorizationHandler.cs
  webapi/Auth/SpecializationAuthorizationHandler.test.cs
  webapi/Auth/SpecializationRequirement.cs
Labels: webapi

#191 made it so that the correct chat is selected
  webapp/src/libs/hooks/useChat.ts
Labels: webapp

#183 now able to remove user feedback after given
  webapi/Controllers/ChatHistoryController.cs
  webapp/src/components/chat/chat-history/UserFeedbackActions.tsx
  webapp/src/libs/models/ChatMessage.ts
  webapp/src/libs/services/ChatService.ts
Labels: webapp, webapi

#196 Missing container name in appsettings for helm
  helm/config/dev/appsettings.Development.json
  helm/config/prod/appsettings.Production.json
  helm/config/test/appsettings.Test.json
Labels: helm

#195 Camden/o1
  helm/config/dev/appsettings.Development.json
  helm/config/prod/appsettings.Production.json
  helm/config/test/appsettings.Test.json
Labels: helm

#198 Authorization injection
  webapi/Auth/SpecializationAuthorizationHandler.cs
  webapi/Auth/SpecializationAuthorizationHandler.test.cs
  webapi/Extensions/ServiceExtensions.cs
  webapi/Program.cs
Labels: webapi

#199 add specialization text to top right corner of type message box
  webapp/src/components/chat/ChatInput.tsx
Labels: webapp

#185 Add Dall-E 3 Image Generation
  helm/config/dev/appsettings.Development.json
  helm/config/prod/appsettings.Production.json
  helm/config/test/appsettings.Test.json
  webapi/Extensions/SemanticKernelExtensions.cs
  webapi/Models/Storage/CopilotChatMessage.cs
  webapi/Plugins/Chat/ChatPlugin.cs
  webapi/Plugins/Chat/Ext/QAzureOpenAIChatOptions.cs
  webapi/Services/IOpenAITextToImageOptions.cs
  webapi/Services/SemanticKernelProvider.cs
  webapp/src/components/chat/chat-history/ChatHistoryItem.tsx
  webapp/src/libs/models/ChatMessage.ts
  webapp/src/redux/features/conversations/conversationsSlice.ts
  webapp/src/redux/features/message-relay/signalRHubConnection.ts
Labels: webapp, webapi, helm

#200 Dynamic height text area for chat input
  webapp/src/components/chat/ChatInput.tsx
Labels: webapp

#204 Fix Trailing Comma in Config
  helm/config/dev/appsettings.Development.json
  helm/config/prod/appsettings.Production.json
  helm/config/test/appsettings.Test.json
Labels: helm

#205 fix missing closing curly brace
  helm/config/dev/appsettings.Development.json
  helm/config/prod/appsettings.Production.json
  helm/config/test/appsettings.Test.json
Labels: helm

#206 Common admin components
  webapp/src/components/admin/shared/AdminWindow.tsx
  webapp/src/components/admin/shared/list/AdminListItem.tsx
  webapp/src/components/admin/shared/list/AdminListItemSection.tsx
  webapp/src/components/admin/shared/list/AdminListItemToggleAction.tsx
  webapp/src/components/admin/specialization-index/SpecializationIndexList.tsx
  webapp/src/components/admin/specialization-index/SpecializationIndexWindow.tsx
  webapp/src/components/admin/specialization-index/index-list/SpecializationIndexListItem.tsx
  webapp/src/components/admin/specialization-index/index-list/SpecializationIndexListSection.tsx
  webapp/src/components/admin/specialization/SpecializationList.tsx
  webapp/src/components/views/ChatView.tsx
  webapp/src/redux/features/message-relay/signalRHubConnection.ts
Labels: webapp

#192 added indexname to the toggle request interface
  webapi/Controllers/SpecializationIndexController.cs
  webapi/Models/Request/QSpecializationBase.cs
  webapi/Models/Request/QSpecializationIndexBase.cs
  webapi/Models/Request/QSpecializationIndexCreate.cs
  webapi/Models/Request/QSpecializationIndexMutate.cs
  webapi/Models/Request/QSpecializationMutate.cs
  webapi/Models/Response/QSpecializationIndexResponse.cs
  webapi/Models/Storage/SpecializationIndex.cs
  webapi/Services/IQSpecializationIndexService.cs
  webapi/Services/QSpecializationIndexService.cs
  webapi/Services/QSpecializationService.cs
  webapi/Storage/SpecializationIndexRepository.cs
  webapp/src/components/admin/specialization/SpecializationListItemActions.tsx
  webapp/src/libs/hooks/useSpecialization.ts
  webapp/src/libs/services/SpecializationService.ts
Labels: webapp, webapi

#202 used a fresh instance of conversations slice
  webapp/src/components/chat/ChatWindow.tsx
  webapp/src/libs/hooks/useChat.ts
  webapp/src/redux/features/conversations/conversationsSlice.ts
Labels: webapp

#197 User feedback admin page
  webapi/Controllers/ChatHistoryController.cs
  webapi/Controllers/UserFeedbackController.cs
  webapi/Models/Request/CopilotChatMessageSortOption.cs
  webapi/Models/Request/UserFeedbackFilter.cs
  webapi/Models/Response/UserFeedbackResult.cs
  webapi/Plugins/Chat/ChatPlugin.cs
  webapi/Program.cs
  webapi/Services/IUserFeedbackService.cs
  webapi/Services/UserFeedbackService.cs
  webapi/Storage/ChatMessageRepository.cs
  webapi/Storage/ChatSessionRepository.cs
  webapi/Storage/CosmosDbContext.cs
  webapi/Storage/FileSystemContext.cs
  webapi/Storage/ISortable.cs
  webapi/Storage/IStorageContext.cs
  webapi/Storage/Repository.cs
  webapi/Storage/VolatileContext.cs
  webapi/Utilities/PredicateUtils.cs
  webapp/package.json
  webapp/src/components/admin/user-feedback/UserFeedbackManager.tsx
  webapp/src/components/admin/user-feedback/UserFeedbackWindow.tsx
  webapp/src/components/chat/chat-list/ChatType.tsx
  webapp/src/components/views/ChatView.tsx
  webapp/src/libs/models/ChatMessage.ts
  webapp/src/libs/models/UserFeedback.ts
  webapp/src/libs/services/UserFeedbackService.ts
  webapp/src/redux/features/admin/AdminState.ts
  webapp/src/redux/features/admin/adminSlice.ts
  webapp/yarn.lock
Labels: webapp, dependencies, webapi

#208 fixed the type
  webapp/src/components/admin/specialization/SpecializationList.tsx
Labels: webapp

#209 feat: require specialization auth for chat modification actions
  webapi/Controllers/ChatController.cs
  webapi/Controllers/ChatHistoryController.cs
Labels: webapi

#193 Upgrade NuGet packages to latest version
  integration-tests/ChatCopilotIntegrationTests.csproj
  memorypipeline/CopilotChatMemoryPipeline.csproj
  shared/CopilotChatShared.csproj
  shared/ServiceConfiguration.cs
  webapi/Controllers/ChatController.cs
  webapi/CopilotChatWebApi.csproj
  webapi/Plugins/Chat/ChatPlugin.cs
  webapi/Plugins/Chat/Ext/QAzureOpenAIChatExtension.cs
  webapi/Plugins/Utils/TokenUtils.cs
Labels: webapi

#210 Limit responses to your data context bugfix
  webapp/src/libs/services/SpecializationService.ts
Labels: webapp

#211 Migrate specialization auth handlers
  webapi/Auth/Specializations/LinkedToChatAuthorizationHandler.cs
  webapi/Auth/Specializations/LinkedToChatAuthorizationHandler.test.cs
  webapi/Auth/Specializations/SpecializationRequirement.cs
  webapi/Extensions/ServiceExtensions.cs
Labels: webapi

#207 Output tokens per deployment
  helm/config/dev/appsettings.Development.json
  helm/config/prod/appsettings.Production.json
  helm/config/test/appsettings.Test.json
  webapi/Controllers/SpecializationController.cs
  webapi/Models/Request/QSpecializationBase.cs
  webapi/Plugins/Chat/Ext/QAzureOpenAIChatExtension.cs
  webapi/Plugins/Chat/Ext/QAzureOpenAIChatOptions.cs
  webapp/src/components/admin/specialization/SpecializationManager.tsx
  webapp/src/libs/hooks/useSpecialization.ts
  webapp/src/libs/models/Specialization.ts
  webapp/src/libs/services/SpecializationService.ts
  webapp/src/redux/features/admin/AdminState.ts
  webapp/src/redux/features/admin/adminSlice.ts
Labels: webapp, webapi, helm

#212 Body context accessor
  webapi/Context/ContextBodyAccessor.cs
  webapi/Context/ContextBodyAccessor.test.cs
  webapi/Context/IContextBodyAccessor.cs
  webapi/Extensions/ServiceExtensions.cs
Labels: webapi
