Repository Quartech/chat-copilot, pull requests merged in 2024-12, with the labels that each got.

#218 Added missing openaideployment variables for cosmos db usage to appsettings and tfvars files
  azure/App/prod.tfvars
  azure/App/test.tfvars
  helm/config/dev/appsettings.Development.json
  helm/config/prod/appsettings.Production.json
  helm/config/test/appsettings.Test.json
Labels: azure, helm

#216 Further Validation for Specialization Manager
  webapp/src/components/admin/specialization/SpecializationManager.tsx
  webapp/src/components/shared/FieldArray.tsx
Labels: webapp

#219 updated tfvar files
  azure/App/prod.tfvars
  azure/App/test.tfvars
Labels: azure

#217 Admin config open ai frontend
  helm/config/dev/appsettings.Development.json
  helm/config/prod/appsettings.Production.json
  helm/config/test/appsettings.Test.json
  webapi/Models/Response/QOpenAIDeploymentResponse.cs
  webapi/Models/Storage/OpenAIDeployment.cs
  webapi/Services/QOpenAIDeploymentService.cs
  webapp/src/components/admin/open-ai-deployments/OpenAIList.tsx
  webapp/src/components/admin/open-ai-deployments/OpenAIManager.tsx
  webapp/src/components/admin/specialization-index/SpecializationIndexManager.tsx
  webapp/src/components/admin/specialization/SpecializationManager.tsx
  webapp/src/components/chat/chat-list/ChatType.tsx
  webapp/src/components/views/ChatView.tsx
  webapp/src/libs/hooks/useAppLoader.ts
  webapp/src/libs/hooks/useOpenAIDeployment.ts
  webapp/src/libs/hooks/useSpecialization.ts
  webapp/src/libs/models/OpenAIDeployment.ts
  webapp/src/libs/services/OpenAIDeploymentService.ts
  webapp/src/redux/features/admin/AdminState.ts
  webapp/src/redux/features/admin/adminSlice.ts
Labels: webapp, webapi, helm

#220 Re-register completion services between requests
  webapi/Extensions/SemanticKernelExtensions.cs
Labels: webapp, webapi

#221 Adding managed identity client id to pods
  helm/values.yaml
Labels: helm

#222 Added pod label to helm
  helm/values.yaml
Labels: helm

#223 Azure environmental variables added for auth to keyvault
  helm/values.yaml
Labels: helm

#224 Test/Prod tenant and client id not being set
  helm/values-prod.yaml
  helm/values-test.yaml
Labels: helm

#227 Seralize dictionary access
  webapi/Extensions/SemanticKernelExtensions.cs
Labels: webapi

#226 refactor: localize enum json serializer to CopilotChatMessageSortOption
  webapi/Models/Request/CopilotChatMessageSortOption.cs
  webapi/Program.cs
Labels: webapi

#229 refactor: update keepalive signal to be sent every 5 seconds
  webapi/Program.cs
  webapp/src/redux/features/message-relay/signalRHubConnection.ts
Labels: webapp, webapi

#225 Modified styles to peristently show scrollbar on overflowed content
  webapp/src/components/admin/open-ai-deployments/OpenAIList.tsx
  webapp/src/components/admin/open-ai-deployments/OpenAIManager.tsx
  webapp/src/components/admin/specialization-index/SpecializationIndexList.tsx
  webapp/src/components/admin/specialization-index/SpecializationIndexManager.tsx
  webapp/src/components/admin/specialization/SpecializationList.tsx
  webapp/src/components/admin/specialization/SpecializationManager.tsx
  webapp/src/components/admin/user-feedback/UserFeedbackManager.tsx
  webapp/src/components/chat/chat-list/ChatList.tsx
  webapp/src/components/open-api-plugins/PluginGallery.tsx
  webapp/src/components/search/search-list/SearchList.tsx
  webapp/src/index.css
  webapp/src/styles.tsx
Labels: webapp

#230 Refactor Alerts component to support full-width truncated alert messages
  webapp/src/components/shared/Alerts.tsx
Labels: webapp

#231 Add client logging to investifate SignalR reconnection bug
  webapi/Plugins/Chat/ChatPlugin.cs
  webapp/src/redux/features/message-relay/signalRHubConnection.ts
Labels: webapp, webapi

#232 Adds more signalRHubConnection client logging
  webapp/src/redux/features/message-relay/signalRHubConnection.ts
Labels: webapp
