Repository Quartech/chat-copilot, pull requests merged in 2024-09, with the labels that each got.

#75 Production
  .github/workflows/copilot-deploy-aks.yml
  azure/App/prod.tfvars
  helm/config/prod/appsettings.Production.json
  helm/config/prod/appsettings.json
  helm/values-prod.yaml
Labels: github actions, azure, helm

#76 rename from q-copilot to q-pilot
  azure/App/main.tf
  docker/webapp/Dockerfile.nginx
  helm/Chart.yaml
  helm/config/dev/appsettings.Development.json
  helm/config/test/appsettings.Test.json
  helm/templates/NOTES.txt
  helm/templates/_helpers.tpl
  helm/templates/shared/serviceaccount.yaml
  helm/templates/tests/test-connection.yaml
  helm/templates/webapi/configmap.yaml
  helm/templates/webapi/deployment.yaml
  helm/templates/webapi/hpa.yaml
  helm/templates/webapi/ingress.yaml
  helm/templates/webapi/secretproviderclass.yaml
  helm/templates/webapi/service.yaml
  helm/templates/webapp/configmap.yaml
  helm/templates/webapp/deployment.yaml
  helm/templates/webapp/hpa.yaml
  helm/templates/webapp/ingress.yaml
  helm/templates/webapp/service.yaml
  helm/values-prod.yaml
  helm/values-test.yaml
  helm/values.yaml
Labels: azure, helm, docker

#81 added agriculture index
  .github/workflows/copilot-build-deploy.yml
  helm/config/dev/appsettings.Development.json
  helm/config/prod/appsettings.Production.json
  helm/config/test/appsettings.Test.json
Labels: github actions, helm

#83 Automatically use default specialization when messaging without selecting one
  webapp/src/components/chat/chat-list/bot-menu/SimplifiedNewBotMenu.tsx
  webapp/src/libs/hooks/useChat.ts
Labels: webapp

#84 Fix missing scrollbar display for admin page on webkit browsers
  webapp/src/components/admin/specialization/SpecializationManager.tsx
Labels: webapp

#82 Fix chats throwing an exception trying to delete documents
  helm/config/dev/appsettings.json
  helm/config/prod/appsettings.json
  helm/config/test/appsettings.json
  webapi/Extensions/ISemanticMemoryClientExtensions.cs
  webapi/appsettings.json
Labels: webapi, helm

#86 increase the application gateway timeout from 20 to 60 seconds
  helm/values.yaml
Labels: helm

#78 Sam/deployment work
  helm/config/dev/appsettings.Development.json
  helm/config/prod/appsettings.Production.json
  helm/config/test/appsettings.Test.json
  webapi/Controllers/SpecializationController.cs
  webapi/Extensions/SemanticKernelExtensions.cs
  webapi/Models/Request/EditChatSpecializationParameters.cs
  webapi/Models/Request/QSpecializationParameters.cs
  webapi/Models/Response/QSpecializationResponse.cs
  webapi/Models/Storage/Specialization.cs
  webapi/Plugins/Chat/ChatPlugin.cs
  webapi/Plugins/Chat/Ext/QAzureOpenAIChatExtension.cs
  webapi/Plugins/Chat/Ext/QAzureOpenAIChatOptions.cs
  webapi/Services/QSearchService.cs
  webapi/Services/QSpecializationService.cs
  webapi/Services/SemanticKernelProvider.cs
  webapp/src/App.tsx
  webapp/src/components/admin/specialization/SpecializationManager.tsx
  webapp/src/libs/hooks/useSpecialization.ts
  webapp/src/libs/models/Specialization.ts
  webapp/src/libs/services/SpecializationService.ts
  webapp/src/redux/features/admin/AdminState.ts
  webapp/src/redux/features/admin/adminSlice.ts
Labels: webapp, webapi, helm

#87 removed the secret
  helm/config/dev/appsettings.Development.json
  helm/config/prod/appsettings.Production.json
  helm/config/test/appsettings.Test.json
Labels: helm

#90 made changes so conext such as system instructions are properly injec…
  webapi/Plugins/Chat/ChatPlugin.cs
Labels: webapi

#79 Upload Specialization Icons and Images to Blob Storage
  helm/config/dev/appsettings.Development.json
  helm/config/prod/appsettings.Production.json
  helm/config/test/appsettings.Test.json
  webapi/Controllers/ChatHistoryController.cs
  webapi/Controllers/SpecializationController.cs
  webapi/CopilotChatWebApi.csproj
  webapi/Models/Request/QSpecializationBase.cs
  webapi/Models/Request/QSpecializationMutate.cs
  webapi/Models/Request/QSpecializationParameters.cs
  webapi/Plugins/Chat/ChatPlugin.cs
  webapi/Plugins/Chat/Ext/QAzureOpenAIChatExtension.cs
  webapi/Plugins/Chat/Ext/QAzureOpenAIChatOptions.cs
  webapi/Services/IQSpecializationService.cs
  webapi/Services/QBlobStorage.cs
  webapi/Services/QSpecializationService.cs
  webapi/appsettings.json
  webapp/src/components/FileUploader.tsx
  webapp/src/components/admin/specialization/SpecializationListItemActions.tsx
  webapp/src/components/admin/specialization/SpecializationManager.tsx
  webapp/src/components/files/ImageUploaderPreview.tsx
  webapp/src/components/specialization/SpecializationCard.tsx
  webapp/src/libs/models/Specialization.ts
  webapp/src/libs/services/SpecializationService.ts
Labels: github actions, webapp, webapi, helm

#88 BugFix: Fixes Chat Input Latency + Disables Generating Bot Response Status
  webapp/src/components/chat/ChatInput.tsx
  webapp/src/components/chat/ChatStatus.tsx
  webapp/src/components/chat/chat-list/ChatType.tsx
  webapp/src/components/header/Header.tsx
Labels: webapp

#85 Clear Chat History within a Chat Session
  webapi/Controllers/ChatHistoryController.cs
  webapi/Extensions/QueryExtensions.cs
  webapi/Options/PromptsOptions.cs
  webapi/Storage/CosmosDbContext.cs
  webapi/Storage/FileSystemContext.cs
  webapi/Storage/VolatileContext.cs
  webapi/appsettings.json
  webapp/src/components/chat/ChatWindow.tsx
  webapp/src/components/chat/controls/DeleteChatHistory.tsx
  webapp/src/libs/hooks/useChat.ts
  webapp/src/libs/services/ChatService.ts
  webapp/src/redux/features/conversations/conversationsSlice.ts
  webapp/src/redux/features/message-relay/signalRHubConnection.ts
Labels: webapp, webapi

#89 updates for new secrets and config
  helm/config/dev/appsettings.Development.json
  helm/config/prod/appsettings.Production.json
  helm/config/test/appsettings.Test.json
  helm/values.yaml
Labels: helm

#92 fix missing config for deployed environments
  helm/config/dev/appsettings.json
  helm/config/prod/appsettings.json
  helm/config/test/appsettings.json
Labels: helm

#91 Backend Test Suite
  .editorconfig
  .github/workflows/dotnet-format.yml
  .github/workflows/webapi-test.yml
  integration-tests/ChatCopilotIntegrationTests.csproj
  webapi/CopilotChatWebApi.csproj
  webapi/Services/QBlobStorage.cs
  webapi/Services/QBlobStorage.test.cs
  webapi/Services/QSpecializationService.cs
Labels: github actions, webapi

#94 Bugfix - specialization index not being selected when chatting with bot
  webapp/src/libs/services/SpecializationService.ts
Labels: webapp

#95 blob storage for deployed environments
  azure/App/README.md
  azure/App/dev.auto.tfvars
  azure/App/main.tf
  azure/App/modules/storage_account/main.tf
  azure/App/modules/storage_account/output.tf
  azure/App/modules/storage_account/provider.tf
  azure/App/modules/storage_account/variables.tf
  azure/App/prod.tfvars
  azure/App/test.tfvars
  azure/App/variables.tf
  helm/values.yaml
Labels: documentation, azure, helm

#99 updated to set the start up object for backend
  webapi/CopilotChatWebApi.csproj
  webapi/Program.cs
Labels: webapi

#100 Add Default Specialization Image and Icon as Content Resources
  webapi/Controllers/SpecializationController.cs
  webapi/Services/QSpecializationService.cs
  webapi/Utilities/ResourceUtils.cs
  webapi/wwwroot/Quartech_Icon.png
  webapi/wwwroot/Quartech_Logo_RGB.png
Labels: webapi

#103 Bug fix: No budget for memory text, hide suggestions
  webapi/Plugins/Chat/ChatPlugin.cs
  webapp/src/components/chat/ChatRoom.tsx
Labels: webapp, webapi

#104 Refactor: App.tsx Cleanup
  webapp/src/App.tsx
  webapp/src/libs/hooks/useAppLoader.ts
  webapp/src/libs/services/GraphService.ts
Labels: webapp
