Repository Quartech/chat-copilot, pull requests merged in 2024-08, with the labels that each got.

#24 new specials
  helm/config/dev/appsettings.Development.json
Labels: helm

#25 Specialization display
  webapp/src/components/chat/Chat.tsx
Labels: webapp

#28 specialization display
  webapp/src/components/chat/Chat.tsx
  webapp/src/components/chat/ChatWindow.tsx
  webapp/src/components/chat/chat-list/ChatListItem.tsx
  webapp/src/components/chat/chat-list/ChatListSection.tsx
Labels: webapp

#22 User Document Limit
  helm/config/dev/appsettings.json
Labels: helm

#27 missing secrets
  helm/values.yaml
Labels: helm

#30 Made chatname editable
  webapp/src/components/chat/chat-list/ChatListItem.tsx
Labels: webapp

#34 made changes for chat specialization to show up in search
  webapp/src/components/chat/chat-list/ChatType.tsx
  webapp/src/components/search/SearchInput.tsx
  webapp/src/components/search/SearchRoom.tsx
  webapp/src/redux/app/store.ts
  webapp/src/redux/features/search/SearchState.ts
  webapp/src/redux/features/search/searchSlice.ts
Labels: webapp

#33 citation bug
  webapi/Plugins/Chat/ChatPlugin.cs
Labels: webapi

#32 Sam optimize user intent
  webapi/Plugins/Chat/ChatPlugin.cs
Labels: webapi

#35 added support for powerpoint files
  webapi/Services/DocumentTypeProvider.cs
  webapp/src/Constants.ts
Labels: webapp, webapi

#36 Always show copy button regardless of message
  webapp/src/components/chat/chat-history/ChatHistoryItem.tsx
Labels: webapp

#37 WebApp Compilation Errors + ESLint / Prettier Github Action
  .github/workflows/webapp-lint-format.yml
  .gitignore
  webapp/package.json
  webapp/src/App.tsx
  webapp/src/components/chat/Chat.tsx
  webapp/src/components/chat/ChatInput.tsx
  webapp/src/components/chat/chat-history/CitationCards.tsx
  webapp/src/components/chat/chat-list/ChatListItem.tsx
  webapp/src/components/chat/chat-list/ChatListSection.tsx
  webapp/src/components/chat/chat-list/ChatType.tsx
  webapp/src/components/chat/chat-list/dialogs/SpecializationDialog.tsx
  webapp/src/components/chat/plan-viewer/PlanViewer.tsx
  webapp/src/components/chat/prompt-dialog/stepwise-planner/StepwiseStepView.tsx
  webapp/src/components/search/SearchInput.tsx
  webapp/src/components/search/SearchListSection.tsx
  webapp/src/components/search/SearchRoom.tsx
  webapp/src/components/search/SearchWindow.tsx
  webapp/src/components/search/search-list/SearchListItem.tsx
  webapp/src/components/specialization/SpecializationCard.tsx
  webapp/src/components/views/ChatView.tsx
  webapp/src/libs/hooks/useChat.ts
  webapp/src/libs/models/Global.ts
  webapp/src/libs/models/SearchResponse.ts
  webapp/src/libs/models/Specialization.ts
  webapp/src/libs/semantic-kernel/model/Ask.ts
  webapp/src/libs/services/BaseService.ts
  webapp/src/libs/services/ChatService.ts
  webapp/src/libs/utils/PlanUtils.ts
  webapp/src/redux/app/rootReducer.ts
  webapp/src/redux/app/store.ts
  webapp/src/redux/features/app/AppState.ts
  webapp/src/redux/features/search/SearchState.ts
  webapp/src/redux/features/search/searchSlice.ts
Labels: github actions, webapp

#39 Enable Feedback and Clean up UI
  webapp/src/components/chat/chat-history/ChatHistoryItem.tsx
  webapp/src/components/chat/chat-history/UserFeedbackActions.tsx
  webapp/src/redux/features/app/AppState.ts
Labels: webapp

#38 Load user image from Entra
  webapp/package.json
  webapp/src/App.tsx
  webapp/src/components/chat/chat-history/ChatHistoryItem.tsx
  webapp/src/components/header/UserSettingsMenu.tsx
  webapp/src/redux/features/app/AppState.ts
  webapp/yarn.lock
Labels: webapp, dependencies

#40 Sam persistent storage
  azure/App/cosmosdb/dev.auto.tfvars
  azure/App/cosmosdb/main.tf
  azure/App/cosmosdb/provider.tf
  azure/App/cosmosdb/variables.tf
  webapi/Models/Storage/ChatParticipant.cs
  webapi/Options/CosmosOptions.cs
  webapi/appsettings.json
Labels: azure, webapi

#41 Remove react-northstar
  webapp/package.json
  webapp/src/components/chat/ChatStatus.tsx
  webapp/src/components/chat/chat-history/ChatHistoryItem.tsx
  webapp/src/components/search/SearchInput.tsx
  webapp/yarn.lock
Labels: webapp, dependencies

#45 Add borders to tables in messages
  webapp/src/components/chat/chat-history/ChatHistoryItem.tsx
  webapp/src/index.css
Labels: webapp

#46 Sam header
  webapp/src/App.tsx
  webapp/src/assets/quartech-icons/dark_logo.png
  webapp/src/assets/quartech-icons/logo.png
  webapp/src/components/chat/Chat.tsx
  webapp/src/components/header/Header.tsx
  webapp/src/components/open-api-plugins/PluginGallery.tsx
Labels: webapp

#42 Front end Role checking to limit Specializations
  webapi/Controllers/SpecializationController.cs
  webapi/Models/Storage/SpecializationSession.cs
  webapi/Plugins/Chat/Ext/QAzureOpenAIChatOptions.cs
  webapp/package.json
  webapp/src/App.tsx
  webapp/src/components/search/SearchInput.tsx
  webapp/src/components/specialization/SpecializationCardList.tsx
  webapp/src/libs/models/Specialization.ts
  webapp/src/redux/features/app/AppState.ts
  webapp/yarn.lock
Labels: webapp, dependencies, webapi

#47 new packages
  SECURITY.md
  integration-tests/README.md
  memorypipeline/CopilotChatMemoryPipeline.csproj
  plugins/web-searcher/WebSearcher.csproj
  shared/CopilotChatShared.csproj
  tools/importdocument/ImportDocument.csproj
  webapi/CopilotChatWebApi.csproj
Labels: documentation, webapi

#52 Sam/doc upload
  webapi/Plugins/Chat/ChatPlugin.cs
  webapi/Plugins/Chat/SemanticMemoryRetriever.cs
  webapp/src/components/chat/ChatInput.tsx
Labels: webapp, webapi

#44 Enable Tesseract image OCR
  helm/config/dev/appsettings.json
  memorypipeline/appsettings.json
  shared/Ocr/ConfigurationExtensions.cs
  webapi/appsettings.json
Labels: webapi, helm

#43 Send and Persist User Feedback
  webapi/Controllers/ChatHistoryController.cs
  webapi/Models/Storage/CopilotChatMessage.cs
  webapi/Storage/ChatMessageRepository.cs
  webapp/src/components/chat/chat-history/ChatHistoryItem.tsx
  webapp/src/components/chat/chat-history/UserFeedbackActions.tsx
  webapp/src/libs/models/ChatMessage.ts
  webapp/src/libs/services/ChatService.ts
  webapp/src/redux/features/conversations/conversationsSlice.ts
Labels: webapp, webapi

#49 Update config for deployment
  helm/config/dev/appsettings.Development.json
  webapi/appsettings.json
Labels: webapi, helm

#53 Remove check that only shows feedback on most recent message
  webapp/src/components/chat/chat-history/ChatHistoryItem.tsx
Labels: webapp

#50 Specialization admin and layout changes feature.
  webapi/Controllers/ChatHistoryController.cs
  webapi/Controllers/SearchController.cs
  webapi/Controllers/SpecializationController.cs
  webapi/Extensions/SemanticKernelExtensions.cs
  webapi/Extensions/ServiceExtensions.cs
  webapi/Models/Request/EditChatSpecializationParameters.cs
  webapi/Models/Request/QSpecializationParameters.cs
  webapi/Models/Response/QSpecializationResponse.cs
  webapi/Models/Storage/SpecializationSource.cs
  webapi/Options/CosmosOptions.cs
  webapi/Plugins/Chat/ChatPlugin.cs
  webapi/Plugins/Chat/Ext/QAzureOpenAIChatExtension.cs
  webapi/Plugins/Chat/Ext/QAzureOpenAIChatOptions.cs
  webapi/Program.cs
  webapi/Services/IQSpecializationService.cs
  webapi/Services/QSearchService.cs
  webapi/Services/QSpecializationService.cs
  webapi/Storage/SpecializationSourceRepository.cs
  webapi/appsettings.json
  webapp/src/App.tsx
  webapp/src/components/admin/specialization/SpecializationListItemActions.tsx
  webapp/src/components/admin/specialization/SpecializationManager.tsx
  webapp/src/components/admin/specialization/SpecializationWindow.tsx
  webapp/src/components/admin/specialization/specialization-list/SpecializationList.tsx
  webapp/src/components/admin/specialization/specialization-list/SpecializationListItem.tsx
  webapp/src/components/admin/specialization/specialization-list/SpecializationListSection.tsx
  webapp/src/components/chat/ChatInput.tsx
  webapp/src/components/chat/ChatRoom.tsx
  webapp/src/components/chat/ChatWindow.tsx
  webapp/src/components/chat/chat-list/ChatType.tsx
  webapp/src/components/chat/chat-list/bot-menu/SimplifiedNewBotMenu.tsx
  webapp/src/components/chat/chat-list/dialogs/SpecializationDialog.tsx
  webapp/src/components/search/SearchInput.tsx
  webapp/src/components/specialization/SpecializationCard.tsx
  webapp/src/components/specialization/SpecializationCardList.tsx
  webapp/src/components/views/ChatView.tsx
  webapp/src/libs/hooks/useChat.ts
  webapp/src/libs/hooks/useSpecialization.ts
  webapp/src/libs/models/Specialization.ts
  webapp/src/libs/services/ChatService.ts
  webapp/src/libs/services/SpecializationService.ts
  webapp/src/redux/app/rootReducer.ts
  webapp/src/redux/app/store.ts
  webapp/src/redux/features/admin/AdminState.ts
  webapp/src/redux/features/admin/adminSlice.ts
  webapp/src/redux/features/app/AppState.ts
  webapp/src/redux/features/app/appSlice.ts
  webapp/src/redux/features/conversations/ConversationsState.ts
  webapp/src/redux/features/conversations/conversationsSlice.ts
Labels: webapp, webapi

#56 Cosmos DB Dev Deploy
  azure/App/README.md
  azure/App/cosmosdb/dev.auto.tfvars
  azure/App/cosmosdb/main.tf
  azure/App/cosmosdb/provider.tf
  azure/App/cosmosdb/variables.tf
  azure/App/dev.auto.tfvars
  azure/App/main.tf
  azure/App/modules/azure-cosmosdb/main.tf
  azure/App/modules/azure-cosmosdb/output.tf
  azure/App/modules/azure-cosmosdb/variables.tf
  azure/App/modules/azure-keyvault/provider.tf
  azure/App/modules/kubernetes-namespace/provider.tf
  azure/App/provider.tf
  azure/App/variables.tf
  azure/State/provider.tf
  docker/webapi/Dockerfile
  helm/README.md
  helm/config/dev/appsettings.Development.json
  helm/config/dev/appsettings.json
  helm/values.yaml
Labels: documentation, azure, helm, docker

#55 Changes to switch parition by ID to be more flexible on key naming.
  webapi/Models/Storage/SpecializationSource.cs
Labels: webapi

#58 fixed container partition key
  azure/App/dev.auto.tfvars
Labels: azure

#57 Move feedback to toolbar and make icons size 20
  webapp/src/components/admin/specialization/specialization-list/SpecializationListSection.tsx
  webapp/src/components/chat/chat-history/ChatHistoryItem.tsx
  webapp/src/components/chat/chat-history/UserFeedbackActions.tsx
  webapp/src/components/chat/prompt-dialog/PromptDialog.tsx
Labels: azure, webapp, webapi, helm

#60 Normalized Azure configs
  SECURITY.md
  helm/config/dev/appsettings.Development.json
  helm/values.yaml
  integration-tests/README.md
  webapi/Plugins/Chat/Ext/QAzureOpenAIChatExtension.cs
  webapi/Plugins/Chat/Ext/QAzureOpenAIChatOptions.cs
  webapi/Services/QSearchService.cs
Labels: documentation, webapi, helm

#59 Add validation to specialization form
  helm/config/dev/appsettings.json
  webapi/Controllers/ChatHistoryController.cs
  webapi/Controllers/SearchController.cs
  webapi/Controllers/SpecializationController.cs
  webapi/Extensions/SemanticKernelExtensions.cs
  webapi/Extensions/ServiceExtensions.cs
  webapi/Models/Request/CreateChatParameters.cs
  webapi/Models/Request/EditChatSpecializationParameters.cs
  webapi/Models/Request/QSearchParameters.cs
  webapi/Models/Request/QSpecializationParameters.cs
  webapi/Models/Response/QSpecializationResponse.cs
  webapi/Models/Storage/ChatSession.cs
  webapi/Models/Storage/ChatSpecializationSession.cs
  webapi/Models/Storage/Specialization.cs
  webapi/Models/Storage/SpecializationSession.cs
  webapi/Options/CosmosOptions.cs
  webapi/Plugins/Chat/ChatPlugin.cs
  webapi/Plugins/Chat/Ext/QAzureOpenAIChatExtension.cs
  webapi/Services/IQSearchService.cs
  webapi/Services/IQSpecializationService.cs
  webapi/Services/QSearchService.cs
  webapi/Services/QSpecializationService.cs
  webapi/Storage/SpecializationRepository.cs
  webapi/appsettings.json
  webapp/src/components/admin/specialization/SpecializationManager.tsx
  webapp/src/components/admin/specialization/specialization-list/SpecializationListItem.tsx
  webapp/src/components/admin/specialization/specialization-list/SpecializationListSection.tsx
  webapp/src/components/chat/ChatInput.tsx
  webapp/src/components/chat/ChatRoom.tsx
  webapp/src/components/chat/ChatWindow.tsx
  webapp/src/components/chat/chat-list/ChatListItem.tsx
  webapp/src/components/chat/chat-list/ChatListSection.tsx
  webapp/src/components/chat/chat-list/ChatType.tsx
  webapp/src/components/search/SearchInput.tsx
  webapp/src/components/search/SearchRoom.tsx
  webapp/src/components/specialization/SpecializationCard.tsx
  webapp/src/components/specialization/SpecializationCardList.tsx
  webapp/src/libs/hooks/useChat.ts
  webapp/src/libs/hooks/useSearch.ts
  webapp/src/libs/hooks/useSpecialization.ts
  webapp/src/libs/models/ChatSession.ts
  webapp/src/libs/models/Specialization.ts
  webapp/src/libs/semantic-kernel/model/Ask.ts
  webapp/src/libs/services/ChatService.ts
  webapp/src/libs/services/SpecializationService.ts
  webapp/src/redux/features/admin/AdminState.ts
  webapp/src/redux/features/admin/adminSlice.ts
  webapp/src/redux/features/conversations/ChatState.ts
  webapp/src/redux/features/conversations/ConversationsState.ts
  webapp/src/redux/features/conversations/conversationsSlice.ts
  webapp/src/redux/features/search/SearchState.ts
  webapp/src/redux/features/search/searchSlice.ts
Labels: webapp, webapi, helm

#63 updates to create a build-deploy action
  .github/workflows/copilot-build-deploy.yml
  .github/workflows/copilot-build-images.yml
  .github/workflows/copilot-deploy-aks.yml
  .github/workflows/markdown-link-check.yml
Labels: github actions

#48 Specialization Icons + Optimizations
  helm/config/dev/appsettings.Development.json
  webapi/Controllers/SpecializationController.cs
  webapi/Models/Request/QSpecializationParameters.cs
  webapi/Models/Response/QSpecializationResponse.cs
  webapi/Models/Storage/Specialization.cs
  webapi/Plugins/Chat/Ext/QAzureOpenAIChatOptions.cs
  webapi/Services/QSpecializationService.cs
  webapi/appsettings.json
  webapp/.eslintrc.cjs
  webapp/src/App.tsx
  webapp/src/components/admin/specialization/SpecializationManager.tsx
  webapp/src/components/chat/ChatWindow.tsx
  webapp/src/components/chat/chat-history/ChatHistoryItem.tsx
  webapp/src/components/chat/chat-list/ChatListItem.tsx
  webapp/src/components/chat/chat-list/ChatListSection.tsx
  webapp/src/components/chat/plan-viewer/PlanStepCard.tsx
  webapp/src/components/specialization/SpecializationCard.tsx
  webapp/src/libs/hooks/useChat.ts
  webapp/src/libs/hooks/useSpecialization.ts
  webapp/src/libs/models/Specialization.ts
  webapp/src/redux/features/admin/AdminState.ts
  webapp/src/redux/features/admin/adminSlice.ts
Labels: webapp, webapi, helm

#66 Create First Chat + Centered Specialization Carousel
  webapp/src/components/specialization/SpecializationCardList.tsx
  webapp/src/libs/hooks/useChat.ts
Labels: webapp

#51 Persist User Settings
  helm/config/dev/appsettings.json
  helm/config/test/appsettings.Test.json
  helm/config/test/appsettings.json
  webapi/Controllers/UserSettingsController.cs
  webapi/Extensions/ServiceExtensions.cs
  webapi/Models/Request/UpdateSettings.cs
  webapi/Models/Response/LoadSettingsResponse.cs
  webapi/Models/Storage/ChatSpecializationSession.cs
  webapi/Models/Storage/ChatUser.cs
  webapi/Options/CosmosOptions.cs
  webapi/Plugins/Chat/Ext/QAzureOpenAIChatOptions.cs
  webapi/Storage/ChatSpecializationSessionRepository.cs
  webapi/Storage/ChatUserRepository.cs
  webapi/appsettings.json
  webapp/src/App.tsx
  webapp/src/components/admin/specialization/SpecializationManager.tsx
  webapp/src/components/admin/specialization/specialization-list/SpecializationListSection.tsx
  webapp/src/components/chat/chat-list/ChatType.tsx
  webapp/src/components/header/settings-dialog/SettingSection.tsx
  webapp/src/libs/hooks/useSettings.ts
  webapp/src/libs/hooks/useSpecialization.ts
  webapp/src/libs/models/UserSettings.ts
  webapp/src/libs/services/SettingsService.ts
  webapp/src/redux/features/app/AppState.ts
  webapp/src/redux/features/app/appSlice.ts
Labels: azure, webapp, webapi, helm

#67 added scroll for admin screen
  webapp/src/components/admin/specialization/SpecializationManager.tsx
Labels: webapp

#68 update comosdb container names
  azure/App/dev.auto.tfvars
  helm/config/dev/appsettings.Development.json
  helm/config/test/appsettings.Test.json
Labels: azure, helm

#69 test updates
  azure/App/test.tfvars
  helm/config/dev/appsettings.Development.json
Labels: azure, helm

#71 pushed a fix for the membership bug
  webapi/Models/Response/QSpecializationResponse.cs
  webapi/Services/QSpecializationService.cs
  webapp/src/components/specialization/SpecializationCardList.tsx
Labels: webapp, webapi

#70 Display Q-Pilot instead of Copilot
  webapp/README.md
  webapp/package.json
  webapp/public/index.html
  webapp/src/Constants.ts
  webapp/src/components/chat/chat-list/dialogs/DeleteChatDialog.tsx
  webapp/src/components/chat/plan-viewer/PlanViewer.tsx
  webapp/src/components/header/Header.tsx
  webapp/src/components/open-api-plugins/PluginGallery.tsx
  webapp/src/components/open-api-plugins/plugin-wizard/PluginWizard.tsx
  webapp/src/components/open-api-plugins/plugin-wizard/steps/EnterManifestStep.tsx
  webapp/src/components/views/MissingEnvVariablesError.tsx
  webapp/src/libs/hooks/useChat.ts
  webapp/src/libs/models/Plan.ts
  webapp/src/redux/features/plugins/PluginsState.ts
  webapp/tests/README.md
  webapp/tests/chat.test.ts
  webapp/tests/testsBasic.ts
  webapp/tests/testsMultiuser.ts
  webapp/tests/testsPlanner.ts
  webapp/tests/utils.ts
Labels: documentation, webapp
