Repository Quartech/chat-copilot, pull requests merged in 2024-07, with the labels that each got.

#4 merge upstream changes
  webapp/package.json
  webapp/yarn.lock
Labels: webapp, dependencies

#5 draft helm charts
  .vscode/settings.json
  helm/.gitignore
  helm/.helmignore
  helm/Chart.yaml
  helm/README.md
  helm/config/dev/appsettings.json
  helm/templates/NOTES.txt
  helm/templates/_helpers.tpl
  helm/templates/shared/certificate.yaml
  helm/templates/shared/serviceaccount.yaml
  helm/templates/tests/test-connection.yaml
  helm/templates/webapi/configmap.yaml
  helm/templates/webapi/deployment.yaml
  helm/templates/webapi/hpa.yaml
  helm/templates/webapi/ingress.yaml
  helm/templates/webapi/secretproviderclass.yaml
  helm/templates/webapi/service.yaml
  helm/templates/webapp/configmap.yaml
  helm/templates/webapp/deployment.yaml
  helm/templates/webapp/hpa.yaml
  helm/templates/webapp/ingress.yaml
  helm/templates/webapp/service.yaml
  helm/values-dev.yaml
  helm/values.yaml
Labels: documentation

#7 Build Image Updates
  .github/dependabot.yml
  .github/labeler.yml
  .github/workflows/copilot-build-images.yml
  .github/workflows/tf-drift.yml
  .github/workflows/tf-plan-apply.yml
  .github/workflows/tf-unit-test.yml
  .gitignore
  README.md
  azure/App/backend.tf
  azure/App/variables.tf
  docker/webapp/Dockerfile.nginx
  helm/config/dev/appsettings.Development.json
  helm/values.yaml
  webapp/.env
  webapp/README.md
  webapp/env.sh
  webapp/package.json
  webapp/public/index.html
  webapp/src/libs/models/Global.ts
  webapp/src/libs/services/BaseService.ts
Labels: documentation, github actions, azure, webapp

#12 Feature runtime indexing st
  webapi/Controllers/ChatHistoryController.cs
  webapi/Controllers/SpecializationController.cs
  webapi/Extensions/SemanticKernelExtensions.cs
  webapi/Extensions/ServiceExtensions.cs
  webapi/Models/Request/CreateChatParameters.cs
  webapi/Models/Storage/ChatSession.cs
  webapi/Models/Storage/ChatSpecializationSession.cs
  webapi/Models/Storage/SpecializationSession.cs
  webapi/Options/CosmosOptions.cs
  webapi/Plugins/Chat/ChatPlugin.cs
  webapi/Plugins/Chat/Ext/QAzureOpenAIChatExtension.cs
  webapi/Plugins/Chat/Ext/QAzureOpenAIChatOptions.cs
  webapi/Storage/ChatSpecializationSessionRepository.cs
  webapi/appsettings.json
  webapp/package.json
  webapp/src/App.tsx
  webapp/src/components/chat/ChatInput.tsx
  webapp/src/components/chat/chat-list/bot-menu/SimplifiedNewBotMenu.tsx
  webapp/src/components/chat/chat-list/dialogs/SpecializationDialog.tsx
  webapp/src/components/specialization/SpecializationCard.tsx
  webapp/src/components/specialization/SpecializationCardList.tsx
  webapp/src/libs/hooks/index.ts
  webapp/src/libs/hooks/useChat.ts
  webapp/src/libs/hooks/useSpecialization.ts
  webapp/src/libs/models/ChatSession.ts
  webapp/src/libs/models/Specialization.ts
  webapp/src/libs/services/ChatService.ts
  webapp/src/libs/services/SpecializationService.ts
  webapp/src/redux/features/app/AppState.ts
  webapp/src/redux/features/app/appSlice.ts
  webapp/src/redux/features/conversations/ChatState.ts
Labels: webapp, webapi

#10 Specialization support
  webapi/Controllers/ChatHistoryController.cs
  webapi/Controllers/SpecializationController.cs
  webapi/Extensions/SemanticKernelExtensions.cs
  webapi/Extensions/ServiceExtensions.cs
  webapi/Models/Request/CreateChatParameters.cs
  webapi/Models/Storage/ChatSession.cs
  webapi/Models/Storage/ChatSpecializationSession.cs
  webapi/Models/Storage/SpecializationSession.cs
  webapi/Options/CosmosOptions.cs
  webapi/Plugins/Chat/ChatPlugin.cs
  webapi/Plugins/Chat/Ext/QAzureOpenAIChatExtension.cs
  webapi/Plugins/Chat/Ext/QAzureOpenAIChatOptions.cs
  webapi/Storage/ChatSpecializationSessionRepository.cs
  webapi/appsettings.json
  webapp/package.json
  webapp/src/App.tsx
  webapp/src/components/chat/ChatInput.tsx
  webapp/src/components/chat/chat-list/bot-menu/SimplifiedNewBotMenu.tsx
  webapp/src/components/chat/chat-list/dialogs/SpecializationDialog.tsx
  webapp/src/components/specialization/SpecializationCard.tsx
  webapp/src/components/specialization/SpecializationCardList.tsx
  webapp/src/libs/hooks/index.ts
  webapp/src/libs/hooks/useChat.ts
  webapp/src/libs/hooks/useSpecialization.ts
  webapp/src/libs/models/ChatSession.ts
  webapp/src/libs/models/Specialization.ts
  webapp/src/libs/services/ChatService.ts
  webapp/src/libs/services/SpecializationService.ts
  webapp/src/redux/features/app/AppState.ts
  webapp/src/redux/features/app/appSlice.ts
  webapp/src/redux/features/conversations/ChatState.ts
Labels: webapp, webapi

#13 package-lock.json.
  webapp/package-lock.json
Labels: webapp

#16 Feature specialization
  webapp/package-lock.json
  webapp/yarn.lock
Labels: webapp, dependencies

#11 AzureAD configuration for dev
  helm/config/dev/appsettings.Development.json
Labels: helm

#9 Fork Sync
  .github/workflows/copilot-build-backend.yml
  .github/workflows/copilot-build-memorypipeline.yml
  .github/workflows/copilot-build-plugins.yml
  memorypipeline/appsettings.json
  plugins/web-searcher/WebSearcher.csproj
  webapi/Services/SemanticKernelProvider.cs
  webapp/package.json
  webapp/yarn.lock
Labels: github actions, webapp, dependencies, webapi

#8 Camden/workflows helm
  .github/workflows/copilot-build-images.yml
  .github/workflows/copilot-deploy-aks.yml
  webapp/.env
  webapp/README.md
  webapp/env.sh
  webapp/package.json
  webapp/src/libs/models/Global.ts
  webapp/yarn.lock
Labels: documentation, github actions, webapp, dependencies

#17 Camden/spec app settings
  .github/_typos.toml
  helm/config/dev/appsettings.Development.json
  helm/values.yaml
Labels: helm

#18 tweak tokens based on AI Studio specs
  helm/config/dev/appsettings.json
Labels: helm

#19 Sam citation work
  webapi/Plugins/Chat/ChatPlugin.cs
  webapp/src/components/chat/chat-history/ChatHistoryTextContent.tsx
  webapp/src/components/chat/chat-history/CitationCards.tsx
Labels: webapp, webapi

#20 Adding dependancies for the changes made in the previous PR
  webapp/package.json
  webapp/yarn.lock
Labels: webapp, dependencies

#21 Sam incremental citation
  webapi/Plugins/Chat/ChatPlugin.cs
  webapp/src/redux/features/message-relay/signalRHubConnection.ts
Labels: webapp, webapi
