Repository Quartech/chat-copilot, pull requests merged in 2025-01, with the labels that each got.

#234 feat: send conversations on reconnect
  webapp/src/redux/features/message-relay/signalRHubConnection.ts
  webapp/src/redux/features/message-relay/signalRMiddleware.ts
Labels: webapp

#233 fix: use IndexName instead of IndexId for search service queries
  webapi/Plugins/Chat/Ext/QAzureOpenAIChatExtension.cs
  webapi/Services/QSearchService.cs
Labels: webapi

#228 added resources and limits
  helm/values.yaml
Labels: helm

#235 Use URL params to cache and reload last accessed conversation
  webapi/Plugins/Chat/ChatPlugin.cs
  webapp/src/components/chat/chat-list/ChatList.tsx
  webapp/src/libs/hooks/useAppLoader.ts
Labels: webapp, webapi

#237 Markdowntoolbar
  webapp/package.json
  webapp/src/components/admin/specialization/SpecializationManager.tsx
  webapp/yarn.lock
Labels: webapp, dependencies

#236 Fix for chat context sometimes being lost
  webapi/Controllers/ChatHistoryController.cs
  webapi/Plugins/Chat/ChatPlugin.cs
Labels: webapi

#239 fix: load specialization when calling ChatSilentAsync
  webapi/Plugins/Chat/ChatPlugin.cs
Labels: webapi

#240 Camden/updateterraform
  azure/App/dev.tfvars
  azure/App/main.tf
  azure/App/modules/azure-ai-search/main.tf
  azure/App/modules/azure-ai-search/variables.tf
  azure/App/modules/azure-cognitive/main.tf
  azure/App/modules/azure-cognitive/variables.tf
  azure/App/modules/azure-cosmosdb/main.tf
  azure/App/modules/azure-cosmosdb/variables.tf
  azure/App/modules/azure-mssql-database/variables.tf
  azure/App/modules/kubernetes-namespace/variables.tf
  azure/App/modules/storage_account/variables.tf
  azure/App/prod.tfvars
  azure/App/test.tfvars
  azure/App/variables.tf
Labels: azure

#241 feat: create EmailSender
  webapi/Extensions/ServiceExtensions.cs
  webapi/Program.cs
  webapi/Services/EmailSender.cs
  webapi/Services/IEmailSender.cs
Labels: webapi
